<h1> new entry &#128395; </h1>
<%= render partial: 'errors/errors', locals: {model: @entry } %>

<%= render partial: 'form', locals: { form_title: "CREATE A NEW ENTRY", model: @entry, button_name: "New Entry"  } %>


