<h1>simple journal</h1>

<div>
  <br>
  <h2><b>create journals anywhere.</b></h2>
  <br>
  <p>quickly and easily create journals to organize your entries.</p> 
  <p>never lose track of a physical journal again.</p>
  <p><b>save your thoughts. save your paper. save the planet. </b></p>
</div>