<h1>Edit <%= @journal.title %></h1>

<%= render partial: 'errors/errors', locals: {model: @journal } %>

<%= render partial: 'form', locals: { form_title: "Edit Journal", model: @journal, button_name: "EDIT JOURNAL"  } %>

