<h1><%=@journal.title%></h1>

<!-- I should add a description for the journals ---------------------------------------------------------------->

<%= link_to "Edit", edit_journal_path(@journal) %>
<%= link_to "Delete", journal_path(@journal), method: "delete" %>
<%= link_to "Create an Entry", new_journal_entry_path(@journal) %>
