/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* The side navigation menu */
 @media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
    

  }

  img {
    border-radius: 12px;
  }

  .wrapper {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    border: 2px solid #bebebe;
    padding: 50px;
    height: 50%;
    margin: 20px auto;
    width: 60%;
    box-shadow: 10px 10px #444444;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #E5E4E2;
    border: 2px solid #bebebe;
    border-radius: 12px;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 35%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .button {
    border: none;
    color: black;
    background-color:white;
    width: 250px;
    padding: 10px 24px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px #444444;
  }

  .button2 {
    border: 2px solid black;
    color: black;
    background-color:white;
    width: 250px;
    padding: 10px 24px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px #444444;
  }

  .button3 {
    background-color: white;
    color: black;
    border: 2px solid #bebebe;
    padding: 10px 24px;
    text-align: left;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #bebebe;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 5px 5px #444444;
  }

  .button5 {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 24px;
    text-align: left;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button4:hover {background-color: #bebebe;}
  .button1 {background-color: #bebebe;} 
  .button2:hover {background-color: #bebebe;} 


  

}


  
 


