<nav>
   <a class="button4 button4" href="/"><b>home</b></a>
  <% if logged_in? %>
      <a class="button4 button4" href="/journals"><b>journals</b></a>
      <a class="button4 button4" href="/logout"><b>logout</b></a>
      <a class="button5 button3"><b> welcome, <%= current_user.name %>!&#128172;</b></a>
  <% else %>
      <a class="button4 button4" href="/login"><b>login</b></a>
      <a class="button4 button4" href="/signup"><b>sign up</b></a>
      <%= link_to "Sign In with Google", '/auth/google_oauth2', method: :post%> <!--NOT SHOWING-->
  <!----<a class="button4 button4" href="/auth/:google_oauth2/callback"><b>sign in with Google</b></a>----------->
  <% end %>
</nav>